numpy>=1.26
pandas>=2.2
scikit-learn>=1.5
xgboost>=2.1
matplotlib>=3.9
seaborn>=0.13
scipy>=1.13
joblib>=1.4

torch>=2.4
pyro-ppl>=1.9

gpytorch>=1.13
properscoring>=0.1

mlflow>=2.16
streamlit>=1.39
jupyter>=1.1
notebook>=7.2
ipykernel>=6.29
tqdm>=4.66
pyyaml>=6.0